@tailwind base;
@tailwind components;
@tailwind utilities;


/* Prevents zoom gestures and pull to refresh*/
html, body {
    touch-action: manipulation;
    overscroll-behavior-y: none;
}

/* Prevents user text/object selection */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard Syntax */
}

/* Fixes screen height computation, see https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
.h-screen {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: -webkit-fill-available;
}
.viewer-system > svg {
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
}

/* Alternative to Times New Roman */
@font-face {
    font-family: 'Times';
    src: url('/fonts/Tinos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times';
    src: url('/fonts/Tinos-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Times';
    src: url('/fonts/Tinos-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Times';
    src: url('/fonts/Tinos-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}